# 1 - Configuração do ambiente e base de dados de desenvolvimento

* Instalação do módulo jupysql

In [ ]:
!pip install jupysql

* Carregamento da extensão *sql*

In [ ]:
%load_ext sql

* Conexão à base base de dados(se não existir é criada):

In [ ]:
%sql sqlite:///Minha_BD_Testes.db

# 2 - Implementação do modelo de dados


a) Definição da tabela "Clientes"
```sql
%%sql  
CREATE TABLE IF NOT EXISTS produtos (  
    id INTEGER PRIMARY KEY,  
    nome TEXT ,  
    preco REAL,  
    unidades INTEGER  
);
```


```sql 
DROP TABLE IF EXISTS produtos;
```

No SQLite, o tipo TEXT pode armazenar até 2^31 - 1 bytes, ou seja, 2.147.483. 647 bytes (aproximadamente 2 GB) de dados.

b) Verificar se a tabela existe na base de dados  
```sql
SELECT name FROM sqlite_master WHERE type="produtos";
```

c) Popular a tabela "Produtos"(através da instrução *DML insert*)  
```sql
INSERT INTO produtos (id,nome, preco, unidades) VALUES (1,'Notebook', 3500.00, 10);  
INSERT INTO produtos (id,nome, preco, unidades) VALUES (2,'Smartphone', 2500.00, 20);  
INSERT INTO produtos (id,nome, preco, unidades) VALUES (3,'Mouse', 50.00, 100);  
INSERT INTO produtos (id,nome, preco, unidades) VALUES (4,'Teclado', 120.00, 50);
```

In [ ]:
%%sql
CREATE TABLE produtos (
    numero INTEGER,
    nome text ,
    preco real,
    unidades INteger
)

In [ ]:
%%sql
INSERT INTO produtos (numero,nome, preco, unidades) VALUES (1,'Notebook', 3500.00, 10);
INSERT INTO produtos (numero,nome, preco, unidades) VALUES (2,'Smartphone', 2500.00, 20);
INSERT INTO produtos (numero,nome, preco, unidades) VALUES (3,'Mouse', 50.00, 100);
INSERT INTO produtos (numero,nome, preco, unidades) VALUES (4,'Teclado', 120.00, 50);

d) Efetuar uma consulta à tabela `Produtos`

In [ ]:
%%sql
SELECT * FROM produtos

e) Através de uma consulta selecionar os produtos com preço igual a 50

f) Através de uma consulta selecionar os produtos com preço igual a 50 e com 100 unidades

g) Eliminar a tabela `Produtos` da base de dados e recriar a tabela com as seguintes definições:     
```sql
CREATE TABLE IF NOT EXISTS produtos (  
    id INTEGER PRIMARY KEY AUTOINCREMENT,  
    nome TEXT NOT NULL,  
    preco REAL NOT NULL,  
    unidades INTEGER  
);
```

h) Popular novamente a tabela `Produtos`  
```sql
INSERT INTO produtos (nome, preco, unidades) VALUES ('Notebook', 3500.00, 10);  
INSERT INTO produtos (nome, preco, unidades) VALUES ('Smartphone', 2500.00, 20);  
INSERT INTO produtos (nome, preco, unidades) VALUES ('Mouse', 50.00, 100);  
INSERT INTO produtos (nome, preco, unidades) VALUES ('Teclado', 120.00, 50);
```

i) Definir a tabela `Categorias`

In [ ]:
%%sql
CREATE TABLE Categorias (
    id_categoria INTEGER PRIMARY KEY AUTOINCREMENT,
    nome TEXT NOT NULL
);

j) Popular a tabela `Categorias`

In [ ]:
%%sql
INSERT INTO Categorias (nome) VALUES ('Eletrónica');
INSERT INTO Categorias (nome) VALUES ('Roupa');
INSERT INTO Categorias (nome) VALUES ('Calçado');
INSERT INTO Categorias (nome) VALUES ('Móveis');

k) Definir a tabela "Fornecedores"  
```sql
CREATE TABLE Fornecedores (  
    id_fornecedor INTEGER PRIMARY KEY AUTOINCREMENT,  
    nome VARCHAR(50) NOT NULL,   
    endereco VARCHAR(128),  
    cidade VARCHAR(20),  
    pais   VARCHAR(30),  
    telefone VARCHAR(16),  
    email VARCHAR(30)  
);
```

l) Popular a tabela `Fornecedores`  
```sql
INSERT INTO Fornecedores (nome, endereco, cidade, pais, telefone, email)
VALUES ('Tech Solutions', 'Av. Paulista, 1000', 'São Paulo', 'Brasil', '+55 11   98765-4321', 'contato@techsolutions.com');

INSERT INTO Fornecedores (nome, endereco, cidade, pais, telefone, email)
VALUES ('Global Supplies', '123 Main St', 'New York', 'EUA', '+1 212-555-7890',   'sales@globalsupplies.com');

INSERT INTO Fornecedores (nome, endereco, cidade, pais, telefone, email)
VALUES ('ElectroParts', 'Calle Mayor, 45', 'Madrid', 'Espanha', '+34 91 123   4567', 'info@electroparts.es');

INSERT INTO Fornecedores (nome, endereco, cidade, pais, telefone, email)
VALUES ('MegaCom', 'Rua das Flores, 500', 'Lisboa', 'Portugal', '+351 21 456   7890', 'support@megacom.pt');

INSERT INTO Fornecedores (nome, endereco, cidade, pais, telefone, email)
VALUES ('Fast Logistics', 'Jalan Sudirman, 12', 'Jacarta', 'Indonésia', '+62 21   8765 4321', 'contact@fastlogistics.co.id');
```

m) Através de uma consulta selecionar os fornecedores residentes na Espanha

n) Através de uma consulta selecionar os fornecedores residentes na Espanha e em Madrid

o) Redefinir a tabela `PRODUTOS`, agora com a nova coluna `ID_CATEGORIA`: chave estrangeira para `CATEGORIA.ID_CATEGORIA`
```sql
CREATE TABLE IF NOT EXISTS produtos (  
    id INTEGER PRIMARY KEY,  
    nome TEXT ,  
    preco REAL,  
    unidades INTEGER,  
    id_categoria INTEGER,  
    FOREIGN KEY (id_categoria) REFERENCES CATEGORIA(id_categoria)  
);
```

p) Popular a tabela `PRODUTOS` de acordo com a nova estrutura

q) Através de uma consulta apresentar o nome do produto e nome da categoria dos produtos com mais de 100 unidades em *stock*

r) Redefinir a tabela `"PRODUTOS"`, agora com a nova coluna `ID_FORNECEDOR`: chave estrangeira para `FORNECEDORES.ID_FORNECEDOR`  

```sql
CREATE TABLE IF NOT EXISTS produtos (  
    id INTEGER PRIMARY KEY,  
    nome TEXT ,  
    preco REAL,  
    unidades INTEGER,  
    id_categoria INTEGER,
    id_fornecedor INTEGER,  
    FOREIGN KEY (id_categoria) REFERENCES CATEGORIAS(id_categoria),  
    FOREIGN KEY (id_fornecedor) REFERENCES FORNECEDORES(id_fornecedor)    
);
```

s) Popular a tabela `PRODUTOS` de acordo com a nova estrutura

t) Através de uma consulta apresentar o nome do produto e nome do fornecedor dos produtos em que o fornecedor reside na Indonésia