# Ensaio de ligação JupySQL a "db" sqlite

In [1]:
%pip install jupysql --quiet

Note: you may need to restart the kernel to use updated packages.

In [2]:
%load_ext sql

In [3]:
%sql sqlite:///ensaio_jupysql_sqlite.sqlite

Connecting to 'sqlite:///ensaio_jupysql_sqlite.sqlite'

In [4]:
%config SqlMagic.displaylimit = 0
%sql PRAGMA foreign_keys = ON

Running query in 'sqlite:///ensaio_jupysql_sqlite.sqlite'

++
||
++
++

In [7]:
%sqlcmd tables

+---------------+
|      Name     |
+---------------+
| clientes_auto |
+---------------+

---

In [6]:
%%sql
DROP TABLE IF EXISTS clientes_auto;
CREATE TABLE clientes_auto (
    id INT AUTO_INCREMENT,
    nome VARCHAR(100),
    PRIMARY KEY(id)
);

Running query in 'sqlite:///ensaio_jupysql_sqlite.sqlite'

++
||
++
++