# Ensaio de ligação JupySQL a servidor mysql

In [ ]:
%pip install jupysql --quiet

In [2]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [3]:
%sql mysql+mysqldb://mysql_user:mysql_password@192.168.2.21:3306/mydatabase

Connecting to 'mysql+mysqldb://mysql_user:***@192.168.2.21:3306/mydatabase'

In [6]:
%%sql
SELECT * FROM produtos;

Running query in 'mysql+mysqldb://mysql_user:***@192.168.2.21:3306/mydatabase'

8 rows affected.

+----+-----------------+--------+----------+--------------+---------------+
| id |       nome      | preco  | unidades | id_categoria | id_fornecedor |
+----+-----------------+--------+----------+--------------+---------------+
| 2  |     Notebook    | 3500.0 |    10    |      1       |       1       |
| 3  |    Smartphone   | 2500.0 |    20    |      1       |       2       |
| 4  |  Smart Glasses  | 780.0  |    2     |      1       |       4       |
| 6  |     Teclado     | 120.0  |    50    |      1       |       3       |
| 7  |   HardDosk SSS  | 160.0  |    0     |      1       |       4       |
| 8  |    SmartWatch   | 350.0  |   120    |      1       |       4       |
| 9  | Monitor Y-Ultra | 480.0  |   210    |      1       |       4       |
| 10 |  Smart Glasses  | 780.0  |    2     |      1       |       4       |
+----+-----------------+--------+----------+--------------+---------------+