# Ensaio de ligação JupySQL a servidor mysql

In [7]:
%pip install jupysql mysqlclient --quiet

Note: you may need to restart the kernel to use updated packages.

In [8]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [9]:
%sql mysql+mysqldb://mysql_user:mysql_password@192.168.2.21:3306/mydatabase

Connecting and switching to connection 'mysql+mysqldb://mysql_user:***@192.168.2.21:3306/mydatabase'

In [10]:
%load_ext sql
%config SqlMagic.displaylimit = 0

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [11]:
%sqlcmd tables

+--------------+
|     Name     |
+--------------+
|  categorias  |
| fornecedores |
|   produtos   |
+--------------+