# 1 - Configuração do ambiente e base de dados de desenvolvimento

* Instalação do módulo jupysql

In [ ]:
!pip install jupysql

Collecting jupysql
  Downloading jupysql-0.11.1-py3-none-any.whl.metadata (5.9 kB)
Requirement already satisfied: prettytable>=3.12.0 in /usr/local/lib/python3.11/dist-packages (from jupysql) (3.16.0)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.11/dist-packages (from jupysql) (2.0.40)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.11/dist-packages (from jupysql) (0.5.3)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.11/dist-packages (from jupysql) (0.2.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.11/dist-packages (from jupysql) (3.1.6)
Requirement already satisfied: sqlglot>=11.3.7 in /usr/local/lib/python3.11/dist-packages (from jupysql) (25.20.2)
Collecting jupysql-plugin>=0.4.2 (from jupysql)
  Downloading jupysql_plugin-0.4.5-py3-none-any.whl.metadata (7.8 kB)
Collecting ploomber-core>=0.2.7 (from jupysql)
  Downloading ploomber_core-0.2.26-py3-none-any.whl.metadata (527 bytes)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.11/dist-packages (from ploomber-core>=0.2.7->jupysql) (6.0.2)
Collecting posthog (from ploomber-core>=0.2.7->jupysql)
  Downloading posthog-3.24.0-py2.py3-none-any.whl.metadata (3.0 kB)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.11/dist-packages (from prettytable>=3.12.0->jupysql) (0.2.13)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.11/dist-packages (from jinja2->jupysql) (3.0.2)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy->jupysql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy->jupysql) (4.13.1)
Requirement already satisfied: requests<3.0,>=2.7 in /usr/local/lib/python3.11/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.32.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.17.0)
Collecting monotonic>=1.5 (from posthog->ploomber-core>=0.2.7->jupysql)
  Downloading monotonic-1.6-py2.py3-none-any.whl.metadata (1.5 kB)
Collecting backoff>=1.10.0 (from posthog->ploomber-core>=0.2.7->jupysql)
  Downloading backoff-2.2.1-py3-none-any.whl.metadata (14 kB)
Requirement already satisfied: python-dateutil>2.1 in /usr/local/lib/python3.11/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.8.2)
Requirement already satisfied: distro>=1.5.0 in /usr/local/lib/python3.11/dist-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.9.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2025.1.31)
Downloading jupysql-0.11.1-py3-none-any.whl (95 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 95.1/95.1 kB 2.3 MB/s eta 0:00:00
Downloading jupysql_plugin-0.4.5-py3-none-any.whl (192 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 192.8/192.8 kB 5.8 MB/s eta 0:00:00
Downloading ploomber_core-0.2.26-py3-none-any.whl (22 kB)
Downloading posthog-3.24.0-py2.py3-none-any.whl (85 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 85.2/85.2 kB 3.7 MB/s eta 0:00:00
Downloading backoff-2.2.1-py3-none-any.whl (15 kB)
Downloading monotonic-1.6-py2.py3-none-any.whl (8.2 kB)
Installing collected packages: monotonic, backoff, posthog, ploomber-core, jupysql-plugin, jupysql
Successfully installed backoff-2.2.1 jupysql-0.11.1 jupysql-plugin-0.4.5 monotonic-1.6 ploomber-core-0.2.26 posthog-3.24.0

* Carregamento da extensão *sql*

In [ ]:
%load_ext sql

* Conexão à base base de dados(se não existir é criada):

In [ ]:
%sql sqlite:///Clientes.db

Connecting to 'sqlite:///Clientes.db'

# 2 - Implementação do modelo de dados "Clientes"

## Tabela "Clientes"


a) Definição da tabela "Clientes"
  
*%%sql  
CREATE TABLE clientes (  
    id INTEGER PRIMARY KEY AUTOINCREMENT,  
    nome VARCHAR(128) NOT NULL,  
    email VARCHAR(128),  
    telefone VARCHAR(16),  
    morada VARCHAR(128),  
    cidade VARCHAR(32),  
    codigo_postal VARCHAR(10),  
    pais VARCHAR(32),  
    data_registo DATE DEFAULT CURRENT_DATE  
);*  
  
*DROP TABLE IF EXISTS clientes;*

In [ ]:
%%sql
CREATE TABLE clientes (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nome VARCHAR(128) NOT NULL,
    email VARCHAR(128),
    telefone VARCHAR(16),
    morada VARCHAR(128),
    cidade VARCHAR(32),
    codigo_postal VARCHAR(10),
    pais VARCHAR(32),
    data_registo DATE DEFAULT CURRENT_DATE
);

Running query in 'sqlite:///Clientes.db'

++
||
++
++

In [ ]:
%%sql
select * from clientes

Running query in 'sqlite:///Clientes.db'

+----+------+-------+----------+--------+--------+---------------+------+--------------+
| id | nome | email | telefone | morada | cidade | codigo_postal | pais | data_registo |
+----+------+-------+----------+--------+--------+---------------+------+--------------+
+----+------+-------+----------+--------+--------+---------------+------+--------------+

b) Verificar se a tabela existe na base de dados  
  *SELECT name FROM sqlite_master WHERE type="clientes";*

In [ ]:
%%sql
SELECT * FROM sqlite_master where name='clientes'

Running query in 'sqlite:///Clientes.db'

+-------+----------+----------+----------+--------------------------------------------+
|  type |   name   | tbl_name | rootpage |                    sql                     |
+-------+----------+----------+----------+--------------------------------------------+
| table | clientes | clientes |    2     |          CREATE TABLE clientes (           |
|       |          |          |          |     id INTEGER PRIMARY KEY AUTOINCREMENT,  |
|       |          |          |          |          nome VARCHAR(128) NOT NULL,       |
|       |          |          |          |              email VARCHAR(128),           |
|       |          |          |          |             telefone VARCHAR(16),          |
|       |          |          |          |              morada VARCHAR(128),          |
|       |          |          |          |              cidade VARCHAR(32),           |
|       |          |          |          |           codigo_postal VARCHAR(10),       |
|       |          |          |          |               pais VARCHAR(32),            |
|       |          |          |          |     data_registo DATE DEFAULT CURRENT_DATE |
|       |          |          |          |                     )                      |
+-------+----------+----------+----------+--------------------------------------------+

c) Inserir a informação abaixo no tabela "Clientes"  
INSERT INTO clientes (nome, email, telefone, morada, cidade, codigo_postal, pais)  
VALUES ('Ana Silva', 'ana.silva@email.com', '912345678', 'Rua das Flores, 123', 'Madrid', '1000-001', 'Portugal');  
  
INSERT INTO clientes (nome, email, telefone, morada, cidade, codigo_postal, pais)  
VALUES ('Carlos Mendes', 'carlos.mendes@email.com', '913456789', 'Av. Central, 45', 'Porto', '4000-200', 'Portugal');  
  
INSERT INTO clientes (nome, email, telefone, morada, cidade, codigo_postal, pais)  
VALUES ('Mariana Rocha', 'mariana.rocha@email.com', '914567890', 'Travessa do Sol, 78', 'Coimbra', '3000-150', 'Portugal');  
  
INSERT INTO clientes (nome, email, telefone, morada, cidade, codigo_postal, pais)  
VALUES ('João Costa', 'joao.costa@email.com', '915678901', 'Rua do Mar, 32', 'Faro', '8000-250', 'Portugal');  
  
INSERT INTO clientes (nome, email, telefone, morada, cidade, codigo_postal, pais)  
VALUES ('Beatriz Almeida', 'beatriz.almeida@email.com', '916789012', 'Estrada Nacional 1, Km 12', 'Braga', '4700-000', 'Portugal');  
  
INSERT INTO clientes (nome, email, telefone, morada, cidade, codigo_postal, pais)  
VALUES ('Ricardo Fonseca', 'ricardo.fonseca@email.com', '917890123', 'Rua das Oliveiras, 56', 'Viseu', '3500-123', 'Portugal');  
  
INSERT INTO clientes (nome, email, telefone, morada, cidade, codigo_postal, pais)  
VALUES ('Sofia Matos', 'sofia.matos@email.com', null, 'Largo da Paz, 10', 'Setúbal', '2900-456', 'Portugal');  
  
INSERT INTO clientes (nome, email, telefone, morada, cidade, codigo_postal, pais)  
VALUES ('Tiago Carvalho', 'tiago.carvalho@email.com', '919012345', 'Rua do Comércio, 89', 'Aveiro', '3800-789', 'Portugal');  
  
INSERT INTO clientes (nome, email, telefone, morada, cidade, codigo_postal, pais)  
VALUES ('Inês Ribeiro', 'ines.ribeiro@email.com', '911234567', 'Alameda dos Oceanos, 101', 'Madrid', '1990-123', 'Portugal');  
  
INSERT INTO Clientes (nome, email, telefone, morada, cidade, codigo_postal, pais)  
VALUES ('Pedro Santos', null, '912345678', 'Rua Nova da Estação, 45', 'Leiria', '2400-100', 'Portugal');  
  
INSERT INTO clientes (nome, email, telefone, morada, cidade, codigo_postal, pais)  
VALUES ('Laura Costa', 'laura.costa@email.com', '913456789', 'Av. da Liberdade, 321', 'Guimarães', '4835-123', 'Portugal');  
  
INSERT INTO clientes (nome, email, telefone, morada, cidade, codigo_postal, pais)  
VALUES ('Diego Marquez', 'diego21.marque<@email.com', '974567890', 'Calle XXV, 77', 'Barcelona', '989-768', 'Espanha');  
  
INSERT INTO clientes (nome, email, telefone, morada, cidade, codigo_postal, pais)  
VALUES ('Helena Duarte', 'helena.duarte@email.com', '915112233', 'Rua do Limoeiro, 8', null, '2750-642', 'Portugal');  
  
INSERT INTO clientes (nome, email, telefone, morada, codigo_postal, pais)
VALUES  
('André Lopes', 'andre.lopes@email.com', '916223344', 'Rua da Escola, 34', '7800-123', 'Portugal');  

INSERT INTO clientes (nome, email, telefone, morada, cidade, codigo_postal, pais)  
VALUES ('Cláudia Nunes', 'claudia.nunes@email.com', '917334455', 'Av. dos Descobrimentos, 56', null, '9000-100', 'Portugal');

In [ ]:
%%sql
INSERT INTO clientes (nome, email, telefone, morada, cidade, codigo_postal, pais)
VALUES ('Ana Silva', 'ana.silva@email.com', '912345678', 'Rua das Flores, 123', 'Madrid', '1000-001', 'Portugal');

INSERT INTO clientes (nome, email, telefone, morada, cidade, codigo_postal, pais)
VALUES ('Carlos Mendes', 'carlos.mendes@email.com', '913456789', 'Av. Central, 45', 'Porto', '4000-200', 'Portugal');

INSERT INTO clientes (nome, email, telefone, morada, cidade, codigo_postal, pais)
VALUES ('Mariana Rocha', 'mariana.rocha@email.com', '914567890', 'Travessa do Sol, 78', 'Coimbra', '3000-150', 'Portugal');

INSERT INTO clientes (nome, email, telefone, morada, cidade, codigo_postal, pais)
VALUES ('João Costa', 'joao.costa@email.com', '915678901', 'Rua do Mar, 32', 'Faro', '8000-250', 'Portugal');

INSERT INTO clientes (nome, email, telefone, morada, cidade, codigo_postal, pais)
VALUES ('Beatriz Almeida', 'beatriz.almeida@email.com', '916789012', 'Estrada Nacional 1, Km 12', 'Braga', '4700-000', 'Portugal');

INSERT INTO clientes (nome, email, telefone, morada, cidade, codigo_postal, pais)
VALUES ('Ricardo Fonseca', 'ricardo.fonseca@email.com', '917890123', 'Rua das Oliveiras, 56', 'Viseu', '3500-123', 'Portugal');

INSERT INTO clientes (nome, email, telefone, morada, cidade, codigo_postal, pais)
VALUES ('Sofia Matos', 'sofia.matos@email.com', null, 'Largo da Paz, 10', 'Setúbal', '2900-456', 'Portugal');

INSERT INTO clientes (nome, email, telefone, morada, cidade, codigo_postal, pais)
VALUES ('Tiago Carvalho', 'tiago.carvalho@email.com', '919012345', 'Rua do Comércio, 89', 'Aveiro', '3800-789', 'Portugal');

INSERT INTO clientes (nome, email, telefone, morada, cidade, codigo_postal, pais)
VALUES ('Inês Ribeiro', 'ines.ribeiro@email.com', '911234567', 'Alameda dos Oceanos, 101', 'Madrid', '1990-123', 'Portugal');

INSERT INTO Clientes (nome, email, telefone, morada, cidade, codigo_postal, pais)
VALUES ('Pedro Santos', null, '912345678', 'Rua Nova da Estação, 45', 'Leiria', '2400-100', 'Portugal');

INSERT INTO clientes (nome, email, telefone, morada, cidade, codigo_postal, pais)
VALUES ('Laura Costa', 'laura.costa@email.com', '913456789', 'Av. da Liberdade, 321', 'Guimarães', '4835-123', 'Portugal');

INSERT INTO clientes (nome, email, telefone, morada, cidade, codigo_postal, pais)
VALUES ('Diego Marquez', 'diego21.marque<@email.com', '974567890', 'Calle XXV, 77', 'Barcelona', '989-768', 'Espanha');

INSERT INTO clientes (nome, email, telefone, morada, cidade, codigo_postal, pais)
VALUES ('Helena Duarte', 'helena.duarte@email.com', '915112233', 'Rua do Limoeiro, 8', null, '2750-642', 'Portugal');

INSERT INTO clientes (nome, email, telefone, morada, codigo_postal, pais) VALUES
('André Lopes', 'andre.lopes@email.com', '916223344', 'Rua da Escola, 34', '7800-123', 'Portugal');

INSERT INTO clientes (nome, email, telefone, morada, cidade, codigo_postal, pais)
VALUES ('Cláudia Nunes', 'claudia.nunes@email.com', '917334455', 'Av. dos Descobrimentos, 56', null, '9000-100', 'Portugal');

Running query in 'sqlite:///Clientes.db'

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

++
||
++
++

In [ ]:
%%sql
SELECT * FROM clientes

Running query in 'sqlite:///Clientes.db'

+----+-----------------+---------------------------+-----------+---------------------------+---------+---------------+----------+--------------+
| id |       nome      |           email           |  telefone |           morada          |  cidade | codigo_postal |   pais   | data_registo |
+----+-----------------+---------------------------+-----------+---------------------------+---------+---------------+----------+--------------+
| 1  |    Ana Silva    |    ana.silva@email.com    | 912345678 |    Rua das Flores, 123    |  Lisboa |    1000-001   | Portugal |  2025-04-10  |
| 2  |  Carlos Mendes  |  carlos.mendes@email.com  | 913456789 |      Av. Central, 45      |  Porto  |    4000-200   | Portugal |  2025-04-10  |
| 3  |  Mariana Rocha  |  mariana.rocha@email.com  | 914567890 |    Travessa do Sol, 78    | Coimbra |    3000-150   | Portugal |  2025-04-10  |
| 4  |    João Costa   |    joao.costa@email.com   | 915678901 |       Rua do Mar, 32      |   Faro  |    8000-250   | Portugal |  2025-04-10  |
| 5  | Beatriz Almeida | beatriz.almeida@email.com | 916789012 | Estrada Nacional 1, Km 12 |  Braga  |    4700-000   | Portugal |  2025-04-10  |
| 6  | Ricardo Fonseca | ricardo.fonseca@email.com | 917890123 |   Rua das Oliveiras, 56   |  Viseu  |    3500-123   | Portugal |  2025-04-10  |
| 7  |   Sofia Matos   |   sofia.matos@email.com   |    None   |      Largo da Paz, 10     | Setúbal |    2900-456   | Portugal |  2025-04-10  |
| 8  |  Tiago Carvalho |  tiago.carvalho@email.com | 919012345 |    Rua do Comércio, 89    |  Aveiro |    3800-789   | Portugal |  2025-04-10  |
| 9  |   Inês Ribeiro  |   ines.ribeiro@email.com  | 911234567 |  Alameda dos Oceanos, 101 |  Lisboa |    1990-123   | Portugal |  2025-04-10  |
| 10 |   Pedro Santos  |            None           | 912345678 |  Rua Nova da Estação, 45  |  Leiria |    2400-100   | Portugal |  2025-04-10  |
+----+-----------------+---------------------------+-----------+---------------------------+---------+---------------+----------+--------------+
Truncated to displaylimit of 10.

d) Atualizar o campo cidade para "Lisboa" nos registos que apresentam o valor "Madrid" neste mesmo campo

Running query in 'sqlite:///Clientes.db'

2 rows affected.

++
||
++
++

e) Eliminar os registos apresentam o valor "Barcelona" no campo cidade ou não têm qualquer valor no campo cidade

In [ ]:
%config SqlMagic.displaylimit = None

displaylimit: Value None will be treated as 0 (no limit)

In [ ]:
%%sql
INSERT INTO clientes (nome, email, telefone, morada, cidade, codigo_postal, pais)
VALUES ('Diego Marquez', 'diego21.marque<@email.com', '974567890', 'Calle XXV, 77', 'Barcelona', '989-768', 'Espanha');

INSERT INTO clientes (nome, email, telefone, morada, cidade, codigo_postal, pais)
VALUES ('Helena Duarte', 'helena.duarte@email.com', '915112233', 'Rua do Limoeiro, 8', null, '2750-642', 'Portugal');

INSERT INTO clientes (nome, email, telefone, morada, codigo_postal, pais) VALUES
('André Lopes', 'andre.lopes@email.com', '916223344', 'Rua da Escola, 34', '7800-123', 'Portugal');

INSERT INTO clientes (nome, email, telefone, morada, cidade, codigo_postal, pais)
VALUES ('Cláudia Nunes', 'claudia.nunes@email.com', '917334455', 'Av. dos Descobrimentos, 56', null, '9000-100', 'Portugal');

f) Listar o identificador e nome dos clientes que residem em Leiria

g) Listar o nome dos clientes que não têm email ou telefone definidos

h) Listar o numero, nome e cidades dos clientes que têm apelido "Silva"

g) Calcular a quantidade de clientes que residem em Madrid

h) Calcular a quantidade de clientes de Portugal

i) Calcular a quantidade de clientes cujo código postal começa por "9"

j) Inserir o seguinte registo na tabela "Clientes".
INSERT INTO clientes (nome, email, telefone, morada, cidade, codigo_postal, pais)
VALUES ('Roberto Abreu', 'ro.ab@email.com', '921234567', 'Av. Principal, 101B', null, '5400-100', 'Portugal');

k) Alterar a cidade no registo anterior para "Chaves"

l) Eliminar todos os registos da tabela "Clientes" com a cidade "Chaves"

m) Determinar a quantidade de clientes de cada país

n) Determinar a quantidade de clientes de cada cidade e ordenar pela contagem efetuada(colocando as cidades com mais clientes no inicio dos resultados)

## Tabela "Vendas"

a) Definição da tabela "Vendas"  
  
    >Ativar a opção das chaves estrangeiras:
      PRAGMA foreign_keys = ON;

    > Criar a tabela "Produtos" caso ainda não exista

    > %%sql CREATE TABLE vendas (  
    id INTEGER PRIMARY KEY AUTOINCREMENT,  
    cliente_id INTEGER,  
    produto_id INTEGER,  
    quantidade INTEGER NOT NULL,      
    data_venda DATE DEFAULT CURRENT_DATE,  
    FOREIGN KEY (cliente_id) REFERENCES clientes(id)  
    );

b) Inserir a informação abaixo na tabela "Vendas"  
INSERT INTO vendas (cliente_id, produto_id, quantidade) VALUES  
(1, 1, 2),    
(2, 3, 1),    
(3, 5, 3),  
(4, 7, 1),  
(5, 8, 2),  
(6, 9, 1),  
(6, 1, 1),     
(7, 10, 5),   
(8, 12, 4),  
(9, 13, 3),  
(10, 2, 2);  
(10, 1, 5);

CREATE TABLE IF NOT EXISTS produtos (  
id INTEGER PRIMARY KEY,  
nome TEXT ,  
preco REAL,  
unidades INTEGER,  
id_categoria INTEGER NOT NULL,   
id_fornecedor INTEGER NOT NULL,  
FOREIGN KEY (id_categoria) REFERENCES categorias(Id),  
FOREIGN KEY (id_fornecedor) REFERENCES Fornecedores(id_fornecedor)  
);  

insert into PRODUTOS (nome, preco, unidades, id_categoria,id_fornecedor) values ('Sandálias Verão', 39.90, 50, 1,2);  
insert into PRODUTOS (nome, preco, unidades, id_categoria,id_fornecedor) values ('T-Shirt básica', 14.99, 100, 2,3);  
insert into PRODUTOS (nome, preco, unidades, id_categoria,id_fornecedor) values ('Calças Jeans', 49.90, 40, 2,3);  
insert into PRODUTOS (nome, preco, unidades, id_categoria,id_fornecedor) values ('Casaco de Inverno', 89.00, 25, 2,4);  
insert into PRODUTOS (nome, preco, unidades, id_categoria,id_fornecedor) values ('Televisão 50"', 499.99, 10, 3,4);  
insert into PRODUTOS (nome, preco, unidades, id_categoria,id_fornecedor) values ('Sistema de Som', 259.00, 20, 3,4);  
insert into PRODUTOS (nome, preco, unidades, id_categoria,id_fornecedor) values ('Coluna Bluetooth', 69.90, 35, 3,4);  
insert into PRODUTOS (nome, preco, unidades, id_categoria,id_fornecedor) values ('Portátil Dell', 899.00, 12, 4,1);  
insert into PRODUTOS (nome, preco, unidades, id_categoria,id_fornecedor) values ('Rato Sem Fios', 24.50, 60, 4,2);  
insert into PRODUTOS (nome, preco, unidades, id_categoria,id_fornecedor) values ('Monitor 27"', 199.90, 18, 4,5);  
insert into PRODUTOS (nome, preco, unidades, id_categoria,id_fornecedor) values ('iPhone 14', 1149.00, 8, 5,1);  
insert into PRODUTOS (nome, preco, unidades, id_categoria,id_fornecedor) values ('Samsung Galaxy S23', 999.00, 10, 5,1);  
insert into PRODUTOS (nome, preco, unidades, id_categoria,id_fornecedor) values ('Xiaomi Redmi Note 12', 249.90, 25, 5,4);  
insert into PRODUTOS (nome, preco, unidades, id_categoria,id_fornecedor) values ('Ténis Adidas', 79.99, 30, 1,4);  
insert into PRODUTOS (nome, preco, unidades, id_categoria,id_fornecedor) values ('Botas de Couro', 129.50, 15, 1,2);  
insert into PRODUTOS (nome, preco, unidades, id_categoria,id_fornecedor) values ('Sandálias Verão', 39.90, 50, 1,1);  
insert into PRODUTOS (nome, preco, unidades, id_categoria,id_fornecedor) values ('T-Shirt básica', 14.99, 100, 2,1);  
insert into PRODUTOS (nome, preco, unidades, id_categoria,id_fornecedor) values ('Calças Jeans', 49.90, 40, 2,1);  
insert into PRODUTOS (nome, preco, unidades, id_categoria,id_fornecedor) values ('Casaco de Inverno', 89.00, 25, 2,3);  
insert into PRODUTOS (nome, preco, unidades, id_categoria,id_fornecedor) values ('Televisão 50"', 499.99, 10, 3,4);  
insert into PRODUTOS (nome, preco, unidades, id_categoria,id_fornecedor) values ('Sistema de Som', 259.00, 20, 3,4);  
insert into PRODUTOS (nome, preco, unidades, id_categoria,id_fornecedor) values ('Coluna Bluetooth', 69.90, 35, 3,1);  
insert into PRODUTOS (nome, preco, unidades, id_categoria,id_fornecedor) values ('Portátil Dell', 899.00, 12, 4,5);  
insert into PRODUTOS (nome, preco, unidades, id_categoria,id_fornecedor) values ('Rato Sem Fios', 24.50, 60, 4,5);  
insert into PRODUTOS (nome, preco, unidades, id_categoria,id_fornecedor) values ('Monitor 27"', 199.90, 18, 4,5);  
insert into PRODUTOS (nome, preco, unidades, id_categoria,id_fornecedor) values ('iPhone 14', 1149.00, 8, 5,1);  
insert into PRODUTOS (nome, preco, unidades, id_categoria,id_fornecedor) values ('Samsung Galaxy S23', 999.00, 10, 5,4);  
insert into PRODUTOS (nome, preco, unidades, id_categoria,id_fornecedor) values ('Xiaomi Redmi Note 12', 249.90, 25, 5,3);

c) Calcular quantas vendas efetuou o cliente nº1

d) Determinar os nomes dos clientes que compraram o produto com o id "1"

e) Determinar os nomes dos produtos comprados pelo cliente com o id "1"


f) Determinar os países  dos clientes que compraram o produto "Calças Jeans"

g) Determinar o *id* do produto com mais vendas

h) Determinar o *id* do produto com maiores quantidades vendidas

i) Calcular o número de compras de cada cliente

j) Apresentar o número de compras de cada cliente, mas só apresentar os clientes com mais de 2 compras

k) Determinar o número de vendas dos produtos vendidos

l) Determinar o número de vendas dos produtos vendidos, mas só apresentar os produtos com mais de 4 vendas