# Ficha de Trabalho

Passo 0: prepara√ß√£o do sistema para correr em Jupyter Notebook

In [1]:
%pip install jupysql --upgrade --quiet

Note: you may need to restart the kernel to use updated packages.

In [2]:
# Load the jupysql extension
# This allows us to use SQL magic commands in Jupyter notebooks
%load_ext sql

In [3]:
# Connect to the SQLite database
%sql sqlite:///ficha_de_trabalho_01.sqlite

Connecting to 'sqlite:///ficha_de_trabalho_01.sqlite'

In [4]:
# Set the display limit for SQL queries
# This controls how many rows are displayed in the output of SQL queries
%config SqlMagic.displaylimit = 0

# Enable foreign key constraints in SQLite
# This ensures that foreign key relationships are enforced in the database
%sql PRAGMA foreign_keys = ON

Running query in 'sqlite:///ficha_de_trabalho_01.sqlite'

++
||
++
++

In [5]:
# Display the list of tables in the database
# This command lists all the tables in the connected SQLite database
%sqlcmd tables

+---------------+
|      Name     |
+---------------+
|     artigo    |
| artigo_edicao |
|   categoria   |
|     edicao    |
|   jornalista  |
+---------------+

----

<img src="ficha_de_trabalho_01.png" alt="Ficha de Trabalho 01" style="width:100%; height:auto;">

# üìå Parte 1: Cria√ß√£o das Tabelas

In [6]:
%%sql
-- Eliminar todas as tabelas se j√° existirem
DROP TABLE IF EXISTS artigo_edicao;
DROP TABLE IF EXISTS edicao;
DROP TABLE IF EXISTS artigo;
DROP TABLE IF EXISTS categoria;
DROP TABLE IF EXISTS jornalista;

Running query in 'sqlite:///ficha_de_trabalho_01.sqlite'

++
||
++
++

---

## Tabela 1: `jornalista`
   - `id_jornalista` (INT, PK)
   - `nome` (TEXT)
   - `especialidade` (TEXT)

In [7]:
%%sql
-- Tabela: jornalista
DROP TABLE IF EXISTS jornalista;

CREATE TABLE IF NOT EXISTS jornalista (
    id_jornalista INTEGER PRIMARY KEY AUTOINCREMENT, -- chave prim√°ria, auto-incremento
    nome TEXT NOT NULL,                              -- nome do jornalista
    especialidade TEXT NOT NULL                      -- especialidade do jornalista (pode ser Pol√≠tica, Cultura, Desporto, etc.)
);

Running query in 'sqlite:///ficha_de_trabalho_01.sqlite'

++
||
++
++

* `DROP TABLE IF EXISTS jornalista;`: Garante que qualquer tabela com o mesmo nome seja eliminada antes da cria√ß√£o ‚Äî √∫til durante testes ou desenvolvimento.
* `CREATE TABLE IF NOT EXISTS`: Evita erro caso a tabela j√° exista.
* `id_jornalista INTEGER PRIMARY KEY`: Define a chave prim√°ria como um inteiro, o que est√° de acordo com o enunciado.
* `nome TEXT NOT NULL` e `especialidade TEXT NOT NULL`: As colunas est√£o corretamente tipadas e n√£o permitem valores nulos, o que √© geralmente desej√°vel neste contexto.

**Observa√ß√£o**:
* O tipo `INTEGER PRIMARY KEY` no SQLite gera automaticamente valores √∫nicos e sequenciais se n√£o forem especificados ao inserir dados (√© um alias para AUTOINCREMENT impl√≠cito).
* No MySQL, para comportamento semelhante, seria necess√°rio usar `AUTO_INCREMENT`.

Apesar de n√£o ser obrigat√≥rio em SQLite, considero que √© sempre melhor deixar a instru√ß√£o explicita do que impl√≠cita.

### Inser√ß√£o de dados na tabela `jornalista`

In [8]:
%%sql
-- Inser√ß√£o de dados na tabela `jornalista`
INSERT INTO jornalista (nome, especialidade) VALUES
    ('Jos√© Rodrigues dos Santos', 'Pol√≠tica'),
    ('Clara Ferreira Alves', 'Cultura'),
    ('Rui Pedro Braz', 'Desporto'),
    ('Ana Louren√ßo', 'Pol√≠tica'),
    ('Ricardo Costa', 'Economia'),
    ('F√°tima Campos Ferreira', 'Sociedade'),
    ('Paulo Dentinho', 'Internacional'),
    ('Margarida Marante', 'Entrevistas'),
    ('Carlos Daniel', 'Desporto'),
    ('Dina Aguiar', 'Cultura')
;

Running query in 'sqlite:///ficha_de_trabalho_01.sqlite'

10 rows affected.

++
||
++
++

In [9]:
%%sql
-- Verifica√ß√£o da inser√ß√£o
SELECT COUNT(*) AS "N√∫mero de jornalistas" FROM jornalista;

Running query in 'sqlite:///ficha_de_trabalho_01.sqlite'

+-----------------------+
| N√∫mero de jornalistas |
+-----------------------+
|           10          |
+-----------------------+

In [10]:
%%sql
SELECT * FROM jornalista;

Running query in 'sqlite:///ficha_de_trabalho_01.sqlite'

+---------------+---------------------------+---------------+
| id_jornalista |            nome           | especialidade |
+---------------+---------------------------+---------------+
|       1       | Jos√© Rodrigues dos Santos |    Pol√≠tica   |
|       2       |    Clara Ferreira Alves   |    Cultura    |
|       3       |       Rui Pedro Braz      |    Desporto   |
|       4       |        Ana Louren√ßo       |    Pol√≠tica   |
|       5       |       Ricardo Costa       |    Economia   |
|       6       |   F√°tima Campos Ferreira  |   Sociedade   |
|       7       |       Paulo Dentinho      | Internacional |
|       8       |     Margarida Marante     |  Entrevistas  |
|       9       |       Carlos Daniel       |    Desporto   |
|       10      |        Dina Aguiar        |    Cultura    |
+---------------+---------------------------+---------------+

---

## Tabela 2: `categoria`(s)
   - `id_categoria` (INT, PK)
   - `nome` (TEXT) ‚Äî ex: Pol√≠tica, Cultura, Desporto

In [11]:
%%sql
-- Tabela `categoria`
DROP TABLE IF EXISTS categoria;

CREATE TABLE IF NOT EXISTS categoria (
    id_categoria INTEGER PRIMARY KEY AUTOINCREMENT,   -- chave prim√°ria, auto-incremento
    nome TEXT NOT NULL UNIQUE                         -- garantia de que n√£o h√° categorias repetidas (ex: Pol√≠tica, Cultura, Desporto, etc.)
);

Running query in 'sqlite:///ficha_de_trabalho_01.sqlite'

++
||
++
++

### Inser√ß√£o de dados na tabela `categoria`(s)

In [12]:
%%sql
-- Inser√ß√£o de dados na tabela `categoria`
INSERT INTO categoria (nome) VALUES
    ('Pol√≠tica'),
    ('Cultura'),
    ('Desporto'),
    ('Economia'),
    ('Sociedade'),
    ('Internacional'),
    ('Tecnologia'),
    ('Sa√∫de'),
    ('Ambiente'),
    ('Educa√ß√£o')
;

Running query in 'sqlite:///ficha_de_trabalho_01.sqlite'

10 rows affected.

++
||
++
++

---

## Tabela 3: `artigo`(s)
   - `id_artigo` (INT, PK)
   - `titulo` (TEXT)
   - `data_publicacao` (DATE)
   - `id_jornalista` (INT, FK ‚Üí jornalista.id_jornalista)
   - `id_categoria` (INT, FK ‚Üí categoria.id_categoria)

In [13]:
%%sql
-- Tabela `artigo`
DROP TABLE IF EXISTS artigo;

CREATE TABLE IF NOT EXISTS artigo (
    id_artigo         INTEGER PRIMARY KEY AUTOINCREMENT,            -- chave prim√°ria, auto-incremento
    titulo            TEXT NOT NULL,                                -- t√≠tulo do artigo
    data_publicacao   DATE NOT NULL DEFAULT CURRENT_DATE,           -- data de publica√ß√£o do artigo
    id_jornalista     INTEGER NOT NULL,                             -- chave estrangeira referenciando o jornalista
    id_categoria      INTEGER NOT NULL,                             -- chave estrangeira referenciando a categoria
    FOREIGN KEY (id_jornalista) REFERENCES jornalista(id_jornalista),
    FOREIGN KEY (id_categoria) REFERENCES categoria(id_categoria)
);

Running query in 'sqlite:///ficha_de_trabalho_01.sqlite'

++
||
++
++

### Inser√ß√£o de dados na tabela `artigo`(s)

In [14]:
%%sql
INSERT INTO artigo (titulo, data_publicacao, id_jornalista, id_categoria) VALUES
    ('Or√ßamento de Estado aprovado na generalidade',         '2025-07-01', 1, 1),  -- Pol√≠tica
    ('Festival de Teatro de Almada arranca com casa cheia',  '2025-07-01', 2, 2),  -- Cultura
    ('FC Porto contrata avan√ßado brasileiro',                '2025-07-02', 3, 3),  -- Desporto
    ('Elei√ß√µes Europeias: o que est√° em jogo para Portugal', '2025-07-02', 4, 1), -- Pol√≠tica
    ('Infla√ß√£o abranda para 1,8 % em maio',                  '2025-07-03', 5, 4),  -- Economia
    ('Programas sociais refor√ßam apoio a fam√≠lias',          '2025-07-03', 6, 5),  -- Sociedade
    ('Cimeira da NATO discute novo modelo de defesa',        '2025-07-04', 7, 6),  -- Internacional
    ('Start-ups portuguesas batem recorde de investimento',  '2025-07-04', 1, 7),  -- Tecnologia
    ('SNS recebe injec√ß√£o adicional de 500 M‚Ç¨',              '2025-07-05', 5, 8),  -- Sa√∫de
    ('Seca extrema afecta 30 % do territ√≥rio nacional',      '2025-07-05', 2, 9)   -- Ambiente
;

Running query in 'sqlite:///ficha_de_trabalho_01.sqlite'

10 rows affected.

++
||
++
++

### Dados extra: mais artigos

In [15]:
%%sql
-- dados extra para a tabela `artigo` para a categoria Pol√≠tica
INSERT INTO artigo (titulo, data_publicacao, id_jornalista, id_categoria) VALUES
    ('Debate parlamentar aquece sobre habita√ß√£o',          '2025-05-30', 1, 1),
    ('Reformas constitucionais em cima da mesa',           '2025-05-31', 4, 1),
    ('Presidente da Rep√∫blica discursa sobre coes√£o',      '2025-06-01', 6, 1);

Running query in 'sqlite:///ficha_de_trabalho_01.sqlite'

3 rows affected.

++
||
++
++

In [16]:
%%sql
-- dados extra da categorua Cultura
INSERT INTO artigo (titulo, data_publicacao, id_jornalista, id_categoria) VALUES
    ('Bienal de Veneza: artistas portugueses em destaque', '2025-06-01', 2, 2),   -- Clara Ferreira Alves
    ('Festa do Livro do Porto apresenta programa√ß√£o',      '2025-06-01', 10, 2),  -- Dina Aguiar
    ('Exposi√ß√£o retrospetiva de Paula Rego inaugurada',    '2025-06-01', 2, 2);   -- Clara Ferreira Alves

Running query in 'sqlite:///ficha_de_trabalho_01.sqlite'

3 rows affected.

++
||
++
++

In [17]:
%%sql
-- dados extra da categoria Desporto 
INSERT INTO artigo (titulo, data_publicacao, id_jornalista, id_categoria) VALUES
    -- 4 de julho
    ('Fluminense vence Al-Hilal e homenageia Diogo Jota com minuto de sil√™ncio',      '2025-07-04', 3, 3),
    ('Adepto portugu√™s no Euro Feminino presta tributo a Diogo Jota em Berna',        '2025-07-04', 3, 3),
    ('Treinos do Mundial de Clubes arrancam com homenagem a Diogo Jota',              '2025-07-04', 9, 3),

    -- 5 de julho
    ('R√∫ben Neves carrega o caix√£o no funeral emotivo de Diogo Jota',                 '2025-07-05', 3, 3),
    ('Funeral de Diogo Jota re√∫ne companheiros e dirigentes do futebol mundial',      '2025-07-05', 9, 3),

    -- 6 de julho
    ('Milhares despedem-se de Diogo Jota e Andr√© Silva no Porto',                     '2025-07-06', 3, 3),
    ('Hamilton confia em p√≥dio em Silverstone ap√≥s qualifica√ß√£o com a Ferrari',       '2025-07-06', 9, 3);

Running query in 'sqlite:///ficha_de_trabalho_01.sqlite'

7 rows affected.

++
||
++
++

In [18]:
%%sql
-- verifica√ß√£o da inser√ß√£o
SELECT COUNT(*) AS "N√∫mero de artigos" FROM artigo;

Running query in 'sqlite:///ficha_de_trabalho_01.sqlite'

+-------------------+
| N√∫mero de artigos |
+-------------------+
|         23        |
+-------------------+

In [19]:
%%sql
SELECT data_publicacao AS "Data", COUNT(*) AS "Total de artigos"
    FROM artigo
    GROUP BY data_publicacao
    ORDER BY "Total de artigos" DESC, data_publicacao
    LIMIT 4;

Running query in 'sqlite:///ficha_de_trabalho_01.sqlite'

+------------+------------------+
|    Data    | Total de artigos |
+------------+------------------+
| 2025-07-04 |        5         |
| 2025-06-01 |        4         |
| 2025-07-05 |        4         |
| 2025-07-01 |        2         |
+------------+------------------+

---

## Tabela 4: `edicao`(√µes)
   - `id_edicao` (INT, PK)
   - `data_edicao` (DATE)

In [20]:
%%sql
-- Eliminar a tabela se j√° existir
DROP TABLE IF EXISTS edicao;

-- Criar a tabela edicao
CREATE TABLE IF NOT EXISTS edicao (
    id_edicao   INTEGER PRIMARY KEY AUTOINCREMENT,       -- chave prim√°ria, auto-incremento
    data_edicao DATE NOT NULL DEFAULT CURRENT_DATE       -- data de publica√ß√£o do artigo
);

Running query in 'sqlite:///ficha_de_trabalho_01.sqlite'

++
||
++
++

### Inser√ß√£o de dados na tabela `edicao`(s)


A considerar que as edi√ß√µes s√£o semanais e saiem aos domingos.

In [21]:
%%sql
-- Inserir dados na tabela `edicao`
INSERT INTO edicao (data_edicao) VALUES
    ('2025-05-25'),   -- Edia√ß√µes semanais s√≥ aos domingos
    ('2025-06-01'),
    ('2025-06-08'),
    ('2025-06-15'),
    ('2025-06-22'),
    ('2025-06-29'),
    ('2025-07-06'),
    ('2025-07-13'),
    ('2025-07-20'),
    ('2025-07-27'),
    ('2025-08-03'),
    ('2025-08-10'),
    ('2025-08-17'),
    ('2025-08-24'),
    ('2025-08-31');

Running query in 'sqlite:///ficha_de_trabalho_01.sqlite'

15 rows affected.

++
||
++
++

---

## Tabela 5. `artigo_edicao`
   - `id_artigo` (INT, FK ‚Üí artigo.id_artigo)
   - `id_edicao` (INT, FK ‚Üí edicao.id_edicao)

In [22]:
%%sql
-- Tabela `artigo_edicao`
DROP TABLE IF EXISTS artigo_edicao;

CREATE TABLE IF NOT EXISTS artigo_edicao (
    id_artigo   INTEGER NOT NULL,                             -- chave estrangeira referenciando o artigo
    id_edicao   INTEGER NOT NULL,                             -- chave estrangeira referenciando a edi√ß√£o
    FOREIGN KEY (id_artigo) REFERENCES artigo(id_artigo),
    FOREIGN KEY (id_edicao) REFERENCES edicao(id_edicao)
);

Running query in 'sqlite:///ficha_de_trabalho_01.sqlite'

++
||
++
++

### Inser√ß√£o de dados na tabela `artigo_edicao`(√µes)

Considerando que:
* Os artigos est√£o criados e j√° t√™m data.
* As edi√ß√µes est√£o criadas e t√™m data e s√£o semanais (aos domingos). 

Ent√£o, considerar todos os artigos da semana anterior para a `edicao` do domingo seguinte.
Por exemplo, para a edi√ß√£o de `2025-07-06` entr√£o todos os artigos de `2025-07-05` (-1 dia) a `2025-06-29` (-7 dias).

In [23]:
%%sql
-- Consulta pr√©via antes da inserir os dados na tabela `artigo_edicao`
SELECT
    e.id_edicao       AS "ID da Edi√ß√£o",
    a.id_artigo       AS "ID do Artigo",
    e.data_edicao     AS "Data da Edi√ß√£o",
    a.titulo          AS "T√≠tulo do Artigo",
    j.nome            AS "Jornalista",
    a.data_publicacao AS "Data de Publica√ß√£o"
FROM edicao           AS e
JOIN artigo           AS a
    ON a.data_publicacao
        BETWEEN DATE(e.data_edicao, '-7 days')  -- 7 dias antes (inclusive)
            AND DATE(e.data_edicao, '-1 day')   -- 1 dia antes (inclusive)
JOIN jornalista j     ON  a.id_jornalista = j.id_jornalista
JOIN categoria  c     ON   a.id_categoria = c.id_categoria
ORDER BY e.data_edicao, a.data_publicacao;

Running query in 'sqlite:///ficha_de_trabalho_01.sqlite'

+--------------+--------------+----------------+--------------------------------------------------------------------------+---------------------------+--------------------+
| ID da Edi√ß√£o | ID do Artigo | Data da Edi√ß√£o |                             T√≠tulo do Artigo                             |         Jornalista        | Data de Publica√ß√£o |
+--------------+--------------+----------------+--------------------------------------------------------------------------+---------------------------+--------------------+
|      2       |      11      |   2025-06-01   |                Debate parlamentar aquece sobre habita√ß√£o                 | Jos√© Rodrigues dos Santos |     2025-05-30     |
|      2       |      12      |   2025-06-01   |                 Reformas constitucionais em cima da mesa                 |        Ana Louren√ßo       |     2025-05-31     |
|      3       |      13      |   2025-06-08   |              Presidente da Rep√∫blica discursa sobre coes√£o               |   F√°tima Campos Ferreira  |     2025-06-01     |
|      3       |      14      |   2025-06-08   |            Bienal de Veneza: artistas portugueses em destaque            |    Clara Ferreira Alves   |     2025-06-01     |
|      3       |      15      |   2025-06-08   |              Festa do Livro do Porto apresenta programa√ß√£o               |        Dina Aguiar        |     2025-06-01     |
|      3       |      16      |   2025-06-08   |             Exposi√ß√£o retrospetiva de Paula Rego inaugurada              |    Clara Ferreira Alves   |     2025-06-01     |
|      7       |      1       |   2025-07-06   |               Or√ßamento de Estado aprovado na generalidade               | Jos√© Rodrigues dos Santos |     2025-07-01     |
|      7       |      2       |   2025-07-06   |           Festival de Teatro de Almada arranca com casa cheia            |    Clara Ferreira Alves   |     2025-07-01     |
|      7       |      3       |   2025-07-06   |                  FC Porto contrata avan√ßado brasileiro                   |       Rui Pedro Braz      |     2025-07-02     |
|      7       |      4       |   2025-07-06   |           Elei√ß√µes Europeias: o que est√° em jogo para Portugal           |        Ana Louren√ßo       |     2025-07-02     |
|      7       |      5       |   2025-07-06   |                   Infla√ß√£o abranda para 1,8 % em maio                    |       Ricardo Costa       |     2025-07-03     |
|      7       |      6       |   2025-07-06   |               Programas sociais refor√ßam apoio a fam√≠lias                |   F√°tima Campos Ferreira  |     2025-07-03     |
|      7       |      7       |   2025-07-06   |              Cimeira da NATO discute novo modelo de defesa               |       Paulo Dentinho      |     2025-07-04     |
|      7       |      8       |   2025-07-06   |           Start-ups portuguesas batem recorde de investimento            | Jos√© Rodrigues dos Santos |     2025-07-04     |
|      7       |      17      |   2025-07-06   | Fluminense vence Al-Hilal e homenageia Diogo Jota com minuto de sil√™ncio |       Rui Pedro Braz      |     2025-07-04     |
|      7       |      18      |   2025-07-06   |  Adepto portugu√™s no Euro Feminino presta tributo a Diogo Jota em Berna  |       Rui Pedro Braz      |     2025-07-04     |
|      7       |      19      |   2025-07-06   |     Treinos do Mundial de Clubes arrancam com homenagem a Diogo Jota     |       Carlos Daniel       |     2025-07-04     |
|      7       |      9       |   2025-07-06   |                 SNS recebe injec√ß√£o adicional de 500 M‚Ç¨                  |       Ricardo Costa       |     2025-07-05     |
|      7       |      10      |   2025-07-06   |             Seca extrema afecta 30 % do territ√≥rio nacional              |    Clara Ferreira Alves   |     2025-07-05     |
|      7       |      20      |   2025-07-06   |      R√∫ben Neves carrega o caix√£o no funeral emotivo de Diogo Jota       |       Rui Pedro Braz      |     2025-07-05     |
|      7       |      21      |   2025-07-06   | Funeral de Diogo Jota re√∫ne companheiros e dirigentes do futebol mundial |       Carlos Daniel       |     2025-07-05     |
|      8       |      22      |   2025-07-13   |        Milhares despedem-se de Diogo Jota e Andr√© Silva no Porto         |       Rui Pedro Braz      |     2025-07-06     |
|      8       |      23      |   2025-07-13   | Hamilton confia em p√≥dio em Silverstone ap√≥s qualifica√ß√£o com a Ferrari  |       Carlos Daniel       |     2025-07-06     |
+--------------+--------------+----------------+--------------------------------------------------------------------------+---------------------------+--------------------+

In [24]:
%%sql
-- Rela√ß√£o: Many to Many entre `artigo` e `edicao`
-- A tabela `artigo_edicao` associa artigos a edi√ß√µes, permitindo que um artigo possa aparecer 
-- em v√°rias edi√ß√µes e uma edi√ß√£o possa conter v√°rios artigos.

-- Esta consulta insere os artigos publicados entre 7 dias antes e 1 dia antes de cada edi√ß√£o
-- na tabela `artigo_edicao`, associando-os √†s edi√ß√µes correspondentes
INSERT OR IGNORE INTO artigo_edicao (id_artigo, id_edicao)
    SELECT
        a.id_artigo,
        e.id_edicao
    FROM edicao AS e
    JOIN artigo AS a
    ON a.data_publicacao BETWEEN DATE(e.data_edicao, '-7 days') AND DATE(e.data_edicao, '-1 day');

Running query in 'sqlite:///ficha_de_trabalho_01.sqlite'

23 rows affected.

++
||
++
++

In [25]:
%%sql
-- verifica√ß√£o ap√≥s a inser√ß√£o dos artigos+edicao na tabela `artigo_edicao`
SELECT
    e.id_edicao,
    e.data_edicao,
    COUNT(ae.id_artigo) AS artigos_atribuidos
FROM edicao AS e
LEFT JOIN artigo_edicao AS ae ON ae.id_edicao = e.id_edicao
GROUP BY e.id_edicao, e.data_edicao
ORDER BY e.data_edicao;

Running query in 'sqlite:///ficha_de_trabalho_01.sqlite'

+-----------+-------------+--------------------+
| id_edicao | data_edicao | artigos_atribuidos |
+-----------+-------------+--------------------+
|     1     |  2025-05-25 |         0          |
|     2     |  2025-06-01 |         2          |
|     3     |  2025-06-08 |         4          |
|     4     |  2025-06-15 |         0          |
|     5     |  2025-06-22 |         0          |
|     6     |  2025-06-29 |         0          |
|     7     |  2025-07-06 |         15         |
|     8     |  2025-07-13 |         2          |
|     9     |  2025-07-20 |         0          |
|     10    |  2025-07-27 |         0          |
|     11    |  2025-08-03 |         0          |
|     12    |  2025-08-10 |         0          |
|     13    |  2025-08-17 |         0          |
|     14    |  2025-08-24 |         0          |
|     15    |  2025-08-31 |         0          |
+-----------+-------------+--------------------+

---
---

# üîé Parte 2: Consultas

## 1. Listar todos os artigos com nome do `jornalista` e `categoria`

In [26]:
%%sql
-- Listar todos os artigos com nome do jornalista e categoria
-- Legenda:
-- a: artigo
-- j: jornalista
-- c: categoria
SELECT
    a.id_artigo        AS "ID Artigo",
    a.titulo           AS "T√≠tulo",
    a.data_publicacao  AS "Data Publica√ß√£o",
    j.nome             AS "Jornalista",
    c.nome             AS "Categoria"
FROM artigo a
JOIN jornalista j      ON j.id_jornalista = a.id_jornalista
JOIN categoria  c      ON c.id_categoria  = a.id_categoria
ORDER BY a.data_publicacao, a.titulo;

Running query in 'sqlite:///ficha_de_trabalho_01.sqlite'

+-----------+--------------------------------------------------------------------------+-----------------+---------------------------+---------------+
| ID Artigo |                                  T√≠tulo                                  | Data Publica√ß√£o |         Jornalista        |   Categoria   |
+-----------+--------------------------------------------------------------------------+-----------------+---------------------------+---------------+
|     11    |                Debate parlamentar aquece sobre habita√ß√£o                 |    2025-05-30   | Jos√© Rodrigues dos Santos |    Pol√≠tica   |
|     12    |                 Reformas constitucionais em cima da mesa                 |    2025-05-31   |        Ana Louren√ßo       |    Pol√≠tica   |
|     14    |            Bienal de Veneza: artistas portugueses em destaque            |    2025-06-01   |    Clara Ferreira Alves   |    Cultura    |
|     16    |             Exposi√ß√£o retrospetiva de Paula Rego inaugurada              |    2025-06-01   |    Clara Ferreira Alves   |    Cultura    |
|     15    |              Festa do Livro do Porto apresenta programa√ß√£o               |    2025-06-01   |        Dina Aguiar        |    Cultura    |
|     13    |              Presidente da Rep√∫blica discursa sobre coes√£o               |    2025-06-01   |   F√°tima Campos Ferreira  |    Pol√≠tica   |
|     2     |           Festival de Teatro de Almada arranca com casa cheia            |    2025-07-01   |    Clara Ferreira Alves   |    Cultura    |
|     1     |               Or√ßamento de Estado aprovado na generalidade               |    2025-07-01   | Jos√© Rodrigues dos Santos |    Pol√≠tica   |
|     4     |           Elei√ß√µes Europeias: o que est√° em jogo para Portugal           |    2025-07-02   |        Ana Louren√ßo       |    Pol√≠tica   |
|     3     |                  FC Porto contrata avan√ßado brasileiro                   |    2025-07-02   |       Rui Pedro Braz      |    Desporto   |
|     5     |                   Infla√ß√£o abranda para 1,8 % em maio                    |    2025-07-03   |       Ricardo Costa       |    Economia   |
|     6     |               Programas sociais refor√ßam apoio a fam√≠lias                |    2025-07-03   |   F√°tima Campos Ferreira  |   Sociedade   |
|     18    |  Adepto portugu√™s no Euro Feminino presta tributo a Diogo Jota em Berna  |    2025-07-04   |       Rui Pedro Braz      |    Desporto   |
|     7     |              Cimeira da NATO discute novo modelo de defesa               |    2025-07-04   |       Paulo Dentinho      | Internacional |
|     17    | Fluminense vence Al-Hilal e homenageia Diogo Jota com minuto de sil√™ncio |    2025-07-04   |       Rui Pedro Braz      |    Desporto   |
|     8     |           Start-ups portuguesas batem recorde de investimento            |    2025-07-04   | Jos√© Rodrigues dos Santos |   Tecnologia  |
|     19    |     Treinos do Mundial de Clubes arrancam com homenagem a Diogo Jota     |    2025-07-04   |       Carlos Daniel       |    Desporto   |
|     21    | Funeral de Diogo Jota re√∫ne companheiros e dirigentes do futebol mundial |    2025-07-05   |       Carlos Daniel       |    Desporto   |
|     20    |      R√∫ben Neves carrega o caix√£o no funeral emotivo de Diogo Jota       |    2025-07-05   |       Rui Pedro Braz      |    Desporto   |
|     9     |                 SNS recebe injec√ß√£o adicional de 500 M‚Ç¨                  |    2025-07-05   |       Ricardo Costa       |     Sa√∫de     |
|     10    |             Seca extrema afecta 30 % do territ√≥rio nacional              |    2025-07-05   |    Clara Ferreira Alves   |    Ambiente   |
|     23    | Hamilton confia em p√≥dio em Silverstone ap√≥s qualifica√ß√£o com a Ferrari  |    2025-07-06   |       Carlos Daniel       |    Desporto   |
|     22    |        Milhares despedem-se de Diogo Jota e Andr√© Silva no Porto         |    2025-07-06   |       Rui Pedro Braz      |    Desporto   |
+-----------+--------------------------------------------------------------------------+-----------------+---------------------------+---------------+

---

## 2. Listar os t√≠tulos de todos os artigos publicados a **01-Jun-2025**

In [27]:
%%sql
-- listar os t√≠tulos de todos os artigos publicados a 01-Jun-2025
SELECT titulo AS "T√≠tulo do artigo"
FROM artigo
WHERE data_publicacao = '2025-06-01';

Running query in 'sqlite:///ficha_de_trabalho_01.sqlite'

+----------------------------------------------------+
|                  T√≠tulo do artigo                  |
+----------------------------------------------------+
|   Presidente da Rep√∫blica discursa sobre coes√£o    |
| Bienal de Veneza: artistas portugueses em destaque |
|   Festa do Livro do Porto apresenta programa√ß√£o    |
|  Exposi√ß√£o retrospetiva de Paula Rego inaugurada   |
+----------------------------------------------------+

**Extra**: Mostrar o t√≠tulo do artigo e o nome do jornalista

In [28]:
%%sql
SELECT a.titulo, j.nome AS jornalista, c.nome AS categoria
FROM artigo a
JOIN jornalista j ON j.id_jornalista = a.id_jornalista
JOIN categoria  c ON c.id_categoria  = a.id_categoria
WHERE a.data_publicacao = '2025-06-01';

Running query in 'sqlite:///ficha_de_trabalho_01.sqlite'

+----------------------------------------------------+------------------------+-----------+
|                       titulo                       |       jornalista       | categoria |
+----------------------------------------------------+------------------------+-----------+
|   Presidente da Rep√∫blica discursa sobre coes√£o    | F√°tima Campos Ferreira |  Pol√≠tica |
| Bienal de Veneza: artistas portugueses em destaque |  Clara Ferreira Alves  |  Cultura  |
|   Festa do Livro do Porto apresenta programa√ß√£o    |      Dina Aguiar       |  Cultura  |
|  Exposi√ß√£o retrospetiva de Paula Rego inaugurada   |  Clara Ferreira Alves  |  Cultura  |
+----------------------------------------------------+------------------------+-----------+

---

## 3. Mostrar o n√∫mero total de artigos por categoria

In [29]:
%%sql
-- mostrar o n√∫mero total de artigos por categoria
SELECT
    c.nome       AS "Categoria",
    COUNT(*)     AS "Total de artigos"
FROM artigo a
JOIN categoria c ON c.id_categoria = a.id_categoria
GROUP BY c.nome -- agrupar por categoria e depois contar o n√∫mero de artigos
ORDER BY "Total de artigos" DESC;

Running query in 'sqlite:///ficha_de_trabalho_01.sqlite'

+---------------+------------------+
|   Categoria   | Total de artigos |
+---------------+------------------+
|    Desporto   |        8         |
|    Pol√≠tica   |        5         |
|    Cultura    |        4         |
|   Tecnologia  |        1         |
|   Sociedade   |        1         |
|     Sa√∫de     |        1         |
| Internacional |        1         |
|    Economia   |        1         |
|    Ambiente   |        1         |
+---------------+------------------+

---

## 4. Mostrar os jornalistas que publicaram mais de 2 artigos mas em meses diferentes

In [30]:
%%sql
-- an√°lise pr√©via ¬ª usando strtime para criar campo tempor√°rio de ano e m√™s
SELECT
    j.nome AS "Jornalista",
    strftime('%Y-%m', a.data_publicacao) AS "Ano-M√™s",
    COUNT(*) AS "Total de artigos"
FROM artigo a
JOIN jornalista j ON j.id_jornalista = a.id_jornalista
GROUP BY j.nome, "Ano-M√™s"
ORDER BY "Total de artigos" DESC, j.nome, "Ano-M√™s";

Running query in 'sqlite:///ficha_de_trabalho_01.sqlite'

+---------------------------+---------+------------------+
|         Jornalista        | Ano-M√™s | Total de artigos |
+---------------------------+---------+------------------+
|       Rui Pedro Braz      | 2025-07 |        5         |
|       Carlos Daniel       | 2025-07 |        3         |
|    Clara Ferreira Alves   | 2025-06 |        2         |
|    Clara Ferreira Alves   | 2025-07 |        2         |
| Jos√© Rodrigues dos Santos | 2025-07 |        2         |
|       Ricardo Costa       | 2025-07 |        2         |
|        Ana Louren√ßo       | 2025-05 |        1         |
|        Ana Louren√ßo       | 2025-07 |        1         |
|        Dina Aguiar        | 2025-06 |        1         |
|   F√°tima Campos Ferreira  | 2025-06 |        1         |
|   F√°tima Campos Ferreira  | 2025-07 |        1         |
| Jos√© Rodrigues dos Santos | 2025-05 |        1         |
|       Paulo Dentinho      | 2025-07 |        1         |
+---------------------------+---------+------------------+

In [31]:
%%sql
-- an√°lise pr√©via ¬ª usando strtime para criar campo tempor√°rio de ano e m√™s
SELECT
    j.id_jornalista AS id, j.nome AS "Jornalista",
    COUNT(DISTINCT strftime('%Y-%m', a.data_publicacao)) AS "Ano-M√™s",
    COUNT(*) AS "Total de artigos"
FROM artigo a
JOIN jornalista j ON j.id_jornalista = a.id_jornalista
GROUP BY j.nome
HAVING "Total de artigos" > 2 AND "Ano-M√™s" > 1;

Running query in 'sqlite:///ficha_de_trabalho_01.sqlite'

+----+---------------------------+---------+------------------+
| id |         Jornalista        | Ano-M√™s | Total de artigos |
+----+---------------------------+---------+------------------+
| 2  |    Clara Ferreira Alves   |    2    |        4         |
| 1  | Jos√© Rodrigues dos Santos |    2    |        3         |
+----+---------------------------+---------+------------------+

In [32]:
%%sql
-- confirma√ß√£o que o jornalista id=2 publicou mais de 2 artigos em meses diferentes - listar todos os artigos deste id
SELECT
    a.id_artigo AS "ID Artigo",
    a.titulo AS "T√≠tulo",
    a.data_publicacao AS "Data Publica√ß√£o",
    j.nome AS "Jornalista",
    c.nome AS "Categoria"

FROM artigo a
JOIN categoria c ON c.id_categoria = a.id_categoria
JOIN jornalista j ON j.id_jornalista = a.id_jornalista
WHERE j.id_jornalista = 2

Running query in 'sqlite:///ficha_de_trabalho_01.sqlite'

+-----------+-----------------------------------------------------+-----------------+----------------------+-----------+
| ID Artigo |                        T√≠tulo                       | Data Publica√ß√£o |      Jornalista      | Categoria |
+-----------+-----------------------------------------------------+-----------------+----------------------+-----------+
|     2     | Festival de Teatro de Almada arranca com casa cheia |    2025-07-01   | Clara Ferreira Alves |  Cultura  |
|     10    |   Seca extrema afecta 30 % do territ√≥rio nacional   |    2025-07-05   | Clara Ferreira Alves |  Ambiente |
|     14    |  Bienal de Veneza: artistas portugueses em destaque |    2025-06-01   | Clara Ferreira Alves |  Cultura  |
|     16    |   Exposi√ß√£o retrospetiva de Paula Rego inaugurada   |    2025-06-01   | Clara Ferreira Alves |  Cultura  |
+-----------+-----------------------------------------------------+-----------------+----------------------+-----------+

---

## 5. Mostrar os artigos ainda n√£o associados a nenhuma edi√ß√£o

In [33]:
%%sql
-- inser√ß√£o de artigo adicional para poder testar a consulta
INSERT INTO artigo (titulo, data_publicacao, id_jornalista, id_categoria) VALUES    
    ('Artigo de teste para consulta', '2025-07-07', 2, 2);

Running query in 'sqlite:///ficha_de_trabalho_01.sqlite'

1 rows affected.

++
||
++
++

In [34]:
%%sql
SELECT
    a.id_artigo          AS "ID Artigo",
    a.titulo             AS "T√≠tulo",
    a.data_publicacao    AS "Data Publica√ß√£o",
    j.nome               AS "Jornalista",
    c.nome               AS "Categoria"
FROM artigo a
JOIN jornalista j          ON j.id_jornalista = a.id_jornalista
JOIN categoria  c          ON c.id_categoria  = a.id_categoria
LEFT JOIN artigo_edicao ae ON ae.id_artigo    = a.id_artigo     -- PS N√£o funciona sem o LEFT JOIN
WHERE ae.id_edicao IS NULL
ORDER BY a.data_publicacao;

Running query in 'sqlite:///ficha_de_trabalho_01.sqlite'

+-----------+-------------------------------+-----------------+----------------------+-----------+
| ID Artigo |             T√≠tulo            | Data Publica√ß√£o |      Jornalista      | Categoria |
+-----------+-------------------------------+-----------------+----------------------+-----------+
|     24    | Artigo de teste para consulta |    2025-07-07   | Clara Ferreira Alves |  Cultura  |
+-----------+-------------------------------+-----------------+----------------------+-----------+

---

## 6. Listar as categorias com mais de um artigo publicado

In [35]:
%%sql
-- Listar as categorias com mais de um artigo publicado  
SELECT 
    c.nome             AS "Categoria",
    COUNT(a.id_artigo) AS "Total de artigos"
FROM categoria c
JOIN artigo a          ON a.id_categoria = c.id_categoria
GROUP BY c.nome
HAVING COUNT(a.id_artigo) > 1 -- com mais de 1 artigo
ORDER BY "Total de artigos" DESC

Running query in 'sqlite:///ficha_de_trabalho_01.sqlite'

+-----------+------------------+
| Categoria | Total de artigos |
+-----------+------------------+
|  Desporto |        8         |
|  Pol√≠tica |        5         |
|  Cultura  |        5         |
+-----------+------------------+

---

## 7. Mostrar a m√©dia de artigos por edi√ß√£o

In [36]:
%%sql
-- Constru√ß√£o da SUBQUERY
-- mostra o total de artigos por edi√ß√£o ¬ª ser√° a subquery para calcular a m√©dia
 SELECT
        id_edicao,
        COUNT(id_artigo) AS total
    FROM artigo_edicao
    GROUP BY id_edicao

Running query in 'sqlite:///ficha_de_trabalho_01.sqlite'

+-----------+-------+
| id_edicao | total |
+-----------+-------+
|     2     |   2   |
|     3     |   4   |
|     7     |   15  |
|     8     |   2   |
+-----------+-------+

In [37]:
%%sql
-- usando subconsulta para calcular a m√©dia de artigos por edi√ß√£o
-- A subconsulta conta o n√∫mero de artigos por edi√ß√£o
-- A consulta externa calcula a m√©dia desses totais
SELECT
    ROUND(AVG(artigos_por_edicao.total), 2) AS "M√©dia de artigos por edi√ß√£o"

FROM (

    SELECT
        id_edicao,
        COUNT(id_artigo) AS total
    FROM artigo_edicao
    GROUP BY id_edicao
) 
    AS artigos_por_edicao;

Running query in 'sqlite:///ficha_de_trabalho_01.sqlite'

+-----------------------------+
| M√©dia de artigos por edi√ß√£o |
+-----------------------------+
|             5.75            |
+-----------------------------+

---

## 8. Atualizar a data de publica√ß√£o do artigo mais antigo para **01/01/2025**

In [38]:
%%sql
-- (1) procurar o artigo mais antigo ¬ª ser√° a subquery para selecionar o artigo mais antigo no update
SELECT 
    id_artigo, 
    titulo, 
    MIN(data_publicacao) AS "Data mais antiga"
FROM artigo;

Running query in 'sqlite:///ficha_de_trabalho_01.sqlite'

+-----------+-------------------------------------------+------------------+
| id_artigo |                   titulo                  | Data mais antiga |
+-----------+-------------------------------------------+------------------+
|     11    | Debate parlamentar aquece sobre habita√ß√£o |    2025-05-30    |
+-----------+-------------------------------------------+------------------+

In [39]:
%%sql 
UPDATE artigo
SET data_publicacao = '2025-01-01'
WHERE id_artigo = (
    SELECT id_artigo
    FROM artigo
    ORDER BY data_publicacao ASC
    LIMIT 1
);

Running query in 'sqlite:///ficha_de_trabalho_01.sqlite'

1 rows affected.

++
||
++
++

---

## 9. Remover os jornalistas s√≥ com um artigo

**Problema**:

Os artigos n√£o podem deixar entradas orfas. 

Antes de remover os jornalistas, √© necess√°rio:

1. remover as entradas na tabela `artigo_edicao` (Many to Many)
2. remover as entradas na tabela `artigo` (One to Many)
3. remover as entradas na tabela `jornalista`


Neste caso, como existem v√°rias etapas antes da remo√ß√£o do jornalista, as 3 etapas podem (devem?) ser colocadas numa `TRANSACTION` e em caso de falha, fazer "undo" com o comando `ROLLBACK`.

A instru√ß√£o √© diferente em SQLite e em MySQL:
* `BEGIN;` em SQLite
* `BEGIN TRANSACTION;` em MySQL

In [40]:
%%sql
-- Consulta pr√©via: quais s√£o os jornalistas s√≥ com um artigo?
SELECT 
    j.id_jornalista, 
    j.nome AS "Jornalista", 
    COUNT(a.id_artigo) AS "Total de artigos"
FROM jornalista j
JOIN artigo a ON a.id_jornalista = j.id_jornalista
GROUP BY j.id_jornalista, j.nome
HAVING COUNT(a.id_artigo) < 2;    -- s√≥ com um artigo (assumido tamb√©m os sem artigos)

Running query in 'sqlite:///ficha_de_trabalho_01.sqlite'

+---------------+----------------+------------------+
| id_jornalista |   Jornalista   | Total de artigos |
+---------------+----------------+------------------+
|       7       | Paulo Dentinho |        1         |
|       10      |  Dina Aguiar   |        1         |
+---------------+----------------+------------------+

In [41]:
%%sql
SELECT
    j.id_jornalista
FROM jornalista j
JOIN artigo a ON a.id_jornalista = j.id_jornalista
GROUP BY j.id_jornalista
HAVING COUNT(a.id_artigo) < 2;

Running query in 'sqlite:///ficha_de_trabalho_01.sqlite'

+---------------+
| id_jornalista |
+---------------+
|       7       |
|       10      |
+---------------+

In [42]:
%%sql
BEGIN; -- BEGIN TRANSACTION em MySQL

-- (1) Apagar de artigo_edicao onde jornalista s√≥ tem 0 ou 1 artigo
DELETE FROM artigo_edicao
WHERE id_artigo IN (
    SELECT a.id_artigo
    FROM artigo a
    JOIN (
        SELECT id_jornalista
        FROM artigo
        GROUP BY id_jornalista
        HAVING COUNT(*) < 2
    ) AS j1 ON a.id_jornalista = j1.id_jornalista
);

-- (2) Apagar os artigos desses jornalistas
DELETE FROM artigo
WHERE id_jornalista IN (
    SELECT id_jornalista
    FROM artigo
    GROUP BY id_jornalista
    HAVING COUNT(*) < 2
);

-- (3) Apagar os pr√≥prios jornalistas
DELETE FROM jornalista
WHERE id_jornalista IN (
    SELECT id_jornalista
    FROM (
        SELECT j.id_jornalista
        FROM jornalista j
        LEFT JOIN artigo a ON j.id_jornalista = a.id_jornalista
        GROUP BY j.id_jornalista
        HAVING COUNT(a.id_artigo) < 2
    )
);

COMMIT;

Running query in 'sqlite:///ficha_de_trabalho_01.sqlite'

2 rows affected.

2 rows affected.

3 rows affected.

++
||
++
++

In [43]:
# %%sql
# ROLLBACK;

---

## 10. Listar o nome dos jornalistas com mais de um artigo em todas as edi√ß√µes

In [44]:
%%sql
-- Igual √† consulta pr√©via da 9
SELECT
    j.id_jornalista,
    j.nome AS "Jornalista", 
    COUNT(a.id_artigo) AS "Total de artigos"
FROM jornalista j
JOIN artigo a ON a.id_jornalista = j.id_jornalista
GROUP BY j.id_jornalista
HAVING COUNT(a.id_artigo) >= 2
ORDER BY  "Total de artigos" DESC;

Running query in 'sqlite:///ficha_de_trabalho_01.sqlite'

+---------------+---------------------------+------------------+
| id_jornalista |         Jornalista        | Total de artigos |
+---------------+---------------------------+------------------+
|       3       |       Rui Pedro Braz      |        5         |
|       2       |    Clara Ferreira Alves   |        5         |
|       9       |       Carlos Daniel       |        3         |
|       1       | Jos√© Rodrigues dos Santos |        3         |
|       6       |   F√°tima Campos Ferreira  |        2         |
|       5       |       Ricardo Costa       |        2         |
|       4       |        Ana Louren√ßo       |        2         |
+---------------+---------------------------+------------------+

---
end of file